; {{ template_destpath }}
; {{ ansible_managed }}

[{{ system_user }}]
user = {{ system_user }}
group = {{ system_user }}

listen = {{ php_fpm_socket_path }}
listen.allowed_clients = 127.0.0.1
listen.owner = {{ apache_user }}
listen.group = {{ apache_group }}
listen.mode = 0660

php_admin_flag[allow_url_fopen] = off
php_admin_flag[log_errors] = on

php_admin_value[disable_functions] = exec,passthru,shell_exec,system
php_admin_value[error_log] = {{ php_fpm_site_errorlog }}

php_value[opcache.file_cache] = /var/lib/php/opcache
php_value[session.save_handler] = files
php_value[session.save_path] = /var/lib/php/session
php_value[soap.wsdl_cache_dir] = /var/lib/php/wsdlcache

pm = ondemand
pm.max_children = {{ (ansible_memtotal_mb / php_proc_mem * children_buffer) | int }}
pm.max_requests = 200
pm.process_idle_timeout = 10s

slowlog = {{ php_fpm_slowlog }}
