# {{ template_destpath }}
# {{ ansible_managed }}
# tags: site.conf.j2

{% if use_ultrastack | bool %}
<IfModule remoteip_module>
    RemoteIPHeader X-Forwarded-For
    RemoteIPInternalProxy 127.0.0.0/8 ::1 {{ ansible_default_ipv4.address }}
    LogFormat "%a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-Agent}i\"" combined
</IfModule>
{% endif %}

{% if site_domain != ansible_nodename %}
<VirtualHost *:{{ apache_port_https }}>
    ServerName {{ ansible_nodename }}
    ServerAlias www.{{ ansible_nodename }}

    ErrorLog /var/log/{{ apache_name }}/ssl-{{ ansible_nodename }}-error.log
    CustomLog /var/log/{{ apache_name }}/ssl-{{ ansible_nodename }}-access.log combined

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{ ansible_nodename }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ ansible_nodename }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ ansible_nodename }}/chain.pem

    SSLProxyEngine on
    SSLProxyCheckPeerCN off
    SSLProxyCheckPeerExpire off
    SSLProxyCheckPeerName off
    SSLProxyVerify none 
    SSLSessionTickets on

    ProxyRequests off
    ProxyAddHeaders off
    ProxyPreserveHost off

    ProxyPass / {% if not use_letsencrypt | bool %}http{% else %}https{% endif %}://{{ site_domain }}/ ttl=1 disablereuse=On
    ProxyPassReverse / {% if not use_letsencrypt | bool %}http{% else %}https{% endif %}://{{ site_domain }}/

    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Methods "GET,POST,PUT,DELETE,OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type,Authorization,X-Requested-With,X-BGC-Auth"
    Header set Access-Control-Allow-Credentials "true"
</VirtualHost>
{% endif %}

{% if not use_letsencrypt | bool %}
<VirtualHost *:{{ apache_port_http }}>
    ServerName {{ site_domain }}
    ServerAlias www.{{ site_domain }}

    ErrorLog /var/log/{{ apache_name }}/{{ site_domain }}-error.log
    CustomLog /var/log/{{ apache_name }}/{{ site_domain }}-access.log combined

{% if use_letsencrypt | bool and not use_ultrastack | bool %}
    Redirect permanent / https://{{ site_domain }}/
{% else %}
    <Proxy "unix:{{ php_fpm_socket_path }}|fcgi://{{ system_user }}">
        ProxySet disablereuse=on
    </Proxy>

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://{{ system_user }}
    </FilesMatch>

    DocumentRoot {{ wp_system_path }}
    DirectoryIndex index.html index.php

    TraceEnable Off

    <Location "/status">
        Order Allow,Deny
        Allow from 127.0.0.1
        ProxyPass unix:{{ php_fpm_socket_path }}|fcgi://localhost/status
    </Location>

    <Location "/fpm-ping">
        ProxyPass unix:{{ php_fpm_socket_path }}|fcgi://localhost/fpm-ping
    </Location>

    <Directory {{ wp_system_path }}/>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
{% endif %}
</VirtualHost>
{% endif %}

{% if use_letsencrypt|bool %}
<VirtualHost *:{{ apache_port_https }}>
    ServerName {{ site_domain }}
{% if site_domain.startswith('www.') %}
    ServerAlias {{ site_domain[4:] }}
{% else %}
    ServerAlias www.{{ site_domain }}
{% endif %}

    ErrorLog /var/log/{{ apache_name }}/ssl-{{ site_domain }}-error.log
    CustomLog /var/log/{{ apache_name }}/ssl-{{ site_domain }}-access.log combined

    SSLEngine On
    SSLCertificateFile /etc/letsencrypt/live/{{ site_domain }}/cert.pem
    SSLCertificateKeyFile /etc/letsencrypt/live/{{ site_domain }}/privkey.pem
    SSLCertificateChainFile /etc/letsencrypt/live/{{ site_domain }}/chain.pem

    <Proxy "unix:{{ php_fpm_socket_path }}|fcgi://{{ system_user }}">
        ProxySet disablereuse=on
    </Proxy>

    <FilesMatch \.php$>
        SetHandler proxy:fcgi://{{ system_user }}
    </FilesMatch>

    DocumentRoot {{ wp_system_path }}
    DirectoryIndex index.html index.php

    TraceEnable Off

    <Location "/status">
        Order Allow,Deny
        Allow from 127.0.0.1
        ProxyPass unix:{{ php_fpm_socket_path }}|fcgi://localhost/status
    </Location>

    <Location "/fpm-ping">
        ProxyPass unix:{{ php_fpm_socket_path }}|fcgi://localhost/fpm-ping
    </Location>

    <Directory {{ wp_system_path }}>
        Options FollowSymLinks
        AllowOverride All
        Require all granted
    </Directory>
</VirtualHost>
{% endif %}
